<div class="container">
    <h1>Create Some Notes</h1>
    <hr>
    <form role="form" id="note-form">
        <div class="form-group">
            <input type="email" class="form-control" id="title" placeholder="Title">
        </div>
        <div class="form-group">
            <textarea class="form-control" rows="5" id="details" placeholder="Details"></textarea>
        </div>
        <button id="add-note" type="button" class="btn btn-primary btn-lg btn-block">Create a Note</button>
    </form>
    <hr>
    <div class="row" id="notes"></div>
</div>