<div class="row">
    <div class="col-md-9 text">
        <h4><%= title %></h4>
        <p><%= details %></p>
    </div>
    <div class="col-md-2 col-md-offset-1">
        <a href="#" class="btn btn-default btn-block edit-note">Edit Note</a>
        <a href="#" class="btn btn-danger btn-block delete-note " >Delete Note</a>
    </div>
</div>
<hr>